.navbar-brand {
    font-size: 2.5rem;
}

#uviG {
    background: green;
}

#uviY {
    background: yellow;
}

#uviO {
    background: orange;
}

#uviR {
    background: red;
}

.cityBtn {
    width: 96%;
}
/* .blue {
    background: lightblue;
} */